<%= form_with(model: tag, local:true)  do |form| %>
  <% if tag.errors.any? %>
    <div id="error">
      <div><%= pluralize(tag.errors.count, "error") %> occured!</div>
      <ul>
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit %>

<% end %>